<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>macro</h1>
    {% macro input(name, value='', type='text') %}
    <input type="{{type}}" , name="{{username}}" , value="{{value}}">
    {% endmacro %}

    <table>
        <tr>
            <td>用戶名</td>
            <td>{{input('username')}}</td>
        </tr>
        <tr>
            <td>密碼</td>
            <td>{{input('password', type='password') }}</td>
        </tr>
    </table>
</body>
</html>