<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="" method="post">
<!--    <table>
        <tr>
            <td>郵箱︰</td>
            <td><input type="text" name="email"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>年齡︰</td>
            <td><input type="text" name="age"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>用戶名︰</td>
            <td><input type="text" name="username"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>手機號︰</td>
            <td><input type="text" name="phone"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>
     <table>
        <tr>
            <td>網址 ︰</td>
            <td><input type="text" name="url_info"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>-->
    <table>
        <tr>
            <td>驗証碼 ︰</td>
            <td><input type="text" name="captcha"></td>
            <td><input type="submit" value="註冊"/></td>
        </tr>
    </table>

</form>
</body>
</html>