<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/item.css')}}">
</head>
<body>
{% macro itemGroup(src, title, rating) %}
  <div class="item-group">
                    <img src="{{ src }}" alt="" class="thumbnail">
                    <p class="item-title">{{ title }}</p>
                    <p class="item-rating">
                        {% set lights = ((rating|int)/2)|int %}
                        {% set half_lights = (rating|int)%2 %}
                        {% set grays = 5-lights-half_lights %}

                        {% for light in range(0, lights) %}
                            <img src="{{ url_for('static', filename='images/rate_light.png') }}" alt="">
                        {% endfor %}

                        {% for half in range(0, half_lights) %}
                            <img src="{{ url_for('static', filename='images/rate_half.png') }}" alt="">
                        {% endfor %}

                        {% for gray in range(0, grays) %}
                            <img src="{{ url_for('static', filename='images/rate_gray.png') }}" alt="">
                        {% endfor %}
                        {{ rating }}
                    </p>
                </div>
{% endmacro %}
    <h1>豆瓣小程序評分</h1>
    <div class="container">
        <div class="search-group">
            <input type="text" class="search-input">
        </div>

        <div class="item-list-group">
            <div class="item-list-top">
                <span class="module-title">電影</span>
                <a href="#" class="more-btn">更多</a>
            </div>
            <div class="list-group">
                {% for movie in movies[0:3] %}
                    {{ itemGroup(movie.thumbnail, movie.title, movie.rating) }}
                {% endfor %}
            </div>
        </div>
        <hr>
                <div class="item-list-group">
            <div class="item-list-top">
                <span class="module-title">電視劇</span>
                <a href="#" class="more-btn">更多</a>
            </div>
            <div class="list-group">
                {% for movie in tvs[0:3] %}
                    {{ itemGroup(movie.thumbnail, movie.title, movie.rating) }}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>